################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.blend
*.blend1
/GL_Task_6_Code/assets/geometry/blender files/maze.blend
/GL_Task_6_Code/assets/geometry/blender files/maze.blend1
